/* * {
    box-sizing: border-box;
} */

body {
    height: auto;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: #3e6892;
}

/* MAIN WEBSITE GRID CONTAINER */

.main-grid {
    display: grid;
    grid-template-rows: 200px auto;
}

/* MAIN HEADER */

.header-main {
    display: grid;
    border-bottom: solid orangered;
    height: 200px;
    background-color: #3e6892;
}
/* TITLE AND TOP DIV OF HEADER */
.navbar {
    display: inherit;
    align-items: center;
    justify-items: center;
}
.nav-title {
    font-family: "Baloo 2" cursive;
    font-size: 3.5rem;
    text-decoration: none;
    color: white;
}
.mix {
    color: orangered;
}
/* SEARCH AND BOTTOM DIV OF HEADER */
.search-container {
    font-size: 1rem;
    display: inherit;
    align-items: center;
    justify-items: center;
}
.search-inner-div {
    border: solid darkgray;
    height: 48px;
    border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
    background-color: white;
    width: 50%;
    min-width: 700px;
    /* outline: none; */
}
select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
    background-color: white;
}

.dropdown-btn {
    height: 47px;
    font-weight: 600;
    font-size: inherit;
    float: left;
    border: none;
    font-family: inherit;
}
.dropdown-btn.left {
    border-radius: 0.375rem 0 0 0.375rem;
    border-right: solid 1px lightgray;
    outline: inherit;
    min-width: 170px;
}
.dropdown-btn.right {
    border-right: solid 1px lightgray;
    outline: inherit;
    min-width: 170px;
    border-radius: 0;
}
/* DIV WRAPPER TO POSITION THE DROPDOWN ARROW */
.button-wrapper-left {
    display: inline-grid;
    position: relative;
    width: 175px;
    min-width: 150px;
    justify-items: center;
    float: left;
}

.button-wrapper-left:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 25px;
    position: absolute;
    top: 12px;
    right: 20px;
    color: #434b67;
    pointer-events: none;
}
.button-wrapper-right {
    display: inline-grid;
    justify-items: center;
    position: relative;
    width: 175px;
    min-width: 150px;
    float: left;
}

.button-wrapper-right:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 25px;
    position: absolute;
    top: 12px;
    right: 20px;
    color: #434b67;
    pointer-events: none;
}

.search-input {
    display: inline-grid;
    float: left;
    font-family: inherit;
    font-weight: 600;
    font-size: inherit;
    height: 43px;
    width: 40%;
    border: none;
    padding-left: 20px;
    outline: inherit;
}

/* INTRUCTIONS CONTAINER */
.favorite-movie-container {
    display: grid;
    justify-items: center;
    border-top: solid grey;
    border-bottom: solid grey;
    background-color: rgb(245, 134, 94);
}

.instructions {
    font-size: 2.5rem;
}
/* MOVIE AND DRINK TITLE */
.movie-drink-title {
    display: flex;
    align-self: center;
    border: solid;
    border-radius: 5%;
    background-color: #4c7fb3;
    padding: 10px;
}

/* MAIN BOTTOM DIV */

.bottom-main-container {
    display: grid;

    justify-items: center;
}
.content-container {
    width: 100%;
    /* border: solid darkblue; */
    background-color: #3e6892;
    /* min-height: 1000px; */
    display: grid;
    justify-items: center;
}

/* CONTENT RESULTS*/
.pairing-results-container {
    display: grid;

    grid-template-rows: 8% 80%;
    width: auto;
    min-height: 1150px;
}
#pairs-container {
    display: inherit;
    grid-template-areas: "a a";
    grid-auto-rows: auto;
    column-gap: 2%;
    justify-items: center;
    padding-top: 1rem;

    /* justify-items: center; */
}

/* removed content pair for now, might need later */
/* .content-pair {
    display: grid;
    margin: 0;
    width: 100%;
    height: 16rem;
    border: solid yellow;
} */

/* MOVIE CARD STYLE */
.content-movie {
    width: 600px;
    height: 15rem;
    background: white;
    margin: 0 2.5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}
.card-movie {
    display: grid;
    grid-template-columns: 30% 70%;
}
.movie-detail-container {
    display: inherit;
    justify-items: center;
    grid-template-rows: 20% 80%;

    height: 75%;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* DRINK CARD STYLE */
.content-drink {
    grid-column-start: 2;
    width: 600px;
    height: 15rem;
    background: white;
    margin: 0 2.5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}
.card-drink {
    display: grid;
    grid-template-columns: 30% 70%;
}
.drink-detail-container {
    display: inherit;
    justify-items: center;
    grid-template-rows: 20% 80%;
    height: 75%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.card-drink-desc {
    display: grid;
    grid-template-areas: "a a";
    grid-auto-rows: auto;
}
/* BOTH MOVIE AND DRINK CARD STYLE */
.card-desc {
    width: 90%;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 7em;
    line-height: 1.4em;
    /* border: slateblue solid; */
}
.content-image {
    height: 15rem;
    border-radius: 10px 0 0 10px;
}
.read-more {
    margin: 0;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    border: #3e6892 solid;
    border-radius: 5%;
    color: #3e6892;
    font-weight: 700;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
}
.read-more:hover {
    background-color: #3e6892;
    color: white;
}
h1 {
    display: flex;

    justify-self: center;
    margin: 0;
}
img {
    max-width: 10rem;
}

.drink-detail-shift {
    padding-bottom: 25px;
}
