body,
html {
    display: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 236, 236);
}

/* MAIN HEADER */

.header-main {
    display: grid;
    border-bottom: solid orangered;
    grid-template-rows: 60% 40%;
    height: 200px;
    background-color: #3e6892;
}

.navbar {
    display: inherit;

    align-items: center;
    justify-items: center;
}
.search-container {
    padding-left: 25rem;
    font-size: 1rem;
    display: inherit;
    align-items: center;
    padding-right: 25rem;
}
.nav-title {
    font-family: "Baloo 2" cursive;
    font-size: 3.5rem;

    text-decoration: none;
    color: white;
}
.mix {
    color: orangered;
}
.dropdown-btn {
    height: 47px;
    font-weight: 600;
    font-size: inherit;
    float: left;
    border: none;
    font-family: inherit;
}
.dropdown-btn.left {
    border-radius: 0.375rem 0 0 0.375rem;
    border-right: solid 1px lightgray;
    outline: inherit;
}
.dropdown-btn.right {
    border-right: solid 1px lightgray;
    outline: inherit;
}
.search-input {
    float: left;
    font-family: inherit;
    font-weight: 600;
    font-size: inherit;
    height: 43px;
    width: 60%;
    border: none;
    padding-left: 20px;
    vertical-align: -15px;
    outline: inherit;
}
.search-inner-div {
    border: solid darkgray;
    height: 48px;
    border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
    background-color: white;
    outline: none;
}
